[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uritemplate = "==4.1.1"

[dev-packages]
flit = "==3.8.0"
pylint = "==2.16.0"
mypy = "==0.991"
yapf = "==0.32.0"
isort = "==5.12.0"
toml =  "==0.10.2" 
