-i https://pypi.org/simple

astroid==3.2.4 ; python_full_version >= '3.7.2'

certifi==2024.8.30 ; python_version >= '3.6'

charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'

colorama==0.4.6 ; sys_platform == 'win32'

dill==0.3.6 ; python_version < '3.11'

docutils==0.20.1 ; python_version >= '3.7'

flit==3.9.0

flit-core==3.9.0 ; python_version >= '3.6'

idna==3.10 ; python_version >= '3.5'

iniconfig==2.0.0 ; python_version >= '3.7'

isort==5.13.2

lazy-object-proxy==1.10.0 ; python_version >= '3.7'

mccabe==0.7.0 ; python_version >= '3.6'

mypy==1.11.2

mypy-extensions==1.0.0 ; python_version >= '3.5'

packaging==24.1 ; python_version >= '3.7'

platformdirs==4.3.6 ; python_version >= '3.7'

pluggy==1.5.0 ; python_version >= '3.6'

pylint==3.3.0

pytest==8.3.3

pytest-asyncio==0.24.0

pytest-mock==3.14.0

requests==2.32.3

toml==0.10.2

tomli==2.0.1 ; python_version < '3.11'

tomli-w==1.0.0 ; python_version >= '3.7'

tomlkit==0.13.2 ; python_version >= '3.7'

typing-extensions==4.12.2 ; python_version >= '3.7'

urllib3==2.2.3 ; python_version >= '3.7'

wrapt==1.15.0 ; python_version < '3.11'

yapf==0.40.2

std-uritemplate==1.0.6

opentelemetry-api==1.27.0

opentelemetry-sdk==1.27.0
