name: Python abstractions

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev --skip-lock
      - name: Check code format
        run: |
          pipenv run yapf -dr kiota_abstractions
      - name: Check import order
        run: |
          pipenv run isort kiota_abstractions
      - name: Lint with Pylint
        run: |
          pipenv run pylint kiota_abstractions --disable=W --rcfile=.pylintrc
      - name: Static type checking with Mypy
        run: |
          pipenv run mypy kiota_abstractions

  publish:
    name: Publish distribution to PyPI
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: pypi_prod
    needs: [build]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install flit
        run: |
          pip install flit
      - name: Publish the distibution to PyPI
        run: flit publish
        env:
          FLIT_INDEX_URL: https://upload.pypi.org/legacy/
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets. PYPI_API_TOKEN }}
